<% const head = { 
  title: menu.title, 
  disc: menu.disc };%> 
<%- include('../modules/meta/_head.html', head) %> 
<%- include('../modules/layout/_header.html') %> 

<main>

<div class="menu menu-english">
  <div class="menu-subject">
    <h1>社会</h1>
  </div>
  <div class="row">
    <ul class="chapter-list">
      <li class="chapter-item">
        <h2 class="chapter-item-title">
          地理
          <span class="arrow"></span>
        </h2>
        <ul class="chapter-item-link">
          <li><a href="/quiz/index">世界の姿</a></li>
          <li><a href="">日本の姿</a></li>
          <li><a href="">世界の気候と生活</a></li>
          <li><a href="">アジア州</a></li>
          <li><a href="">ヨーロッパ州</a></li>
          <li><a href="">アフリカ州</a></li>
        </ul>
      </li>
      <li class="chapter-item">
        <h2 class="chapter-item-title">
          歴史
          <span class="arrow"></span>
        </h2>
        <ul class="chapter-item-link">
          <li><a href="">人類の誕生と文明の怒り</a></li>
          <li><a href="">古代日本</a></li>
          <li><a href="">鎌倉時代</a></li>
          <li><a href="">室町〜安土桃山時代</a></li>
          <li><a href="">江戸時代</a></li>
          <li><a href="">近代ヨーロッパと日本</a></li>
        </ul>
      </li>
      <li class="chapter-item">
        <h2 class="chapter-item-title">
          公民
          <span class="arrow"></span>
        </h2>
        <ul class="chapter-item-link">
          <li><a href="">日本国憲法の基本</a></li>
          <li><a href="">国会</a></li>
          <li><a href="">内閣</a></li>
          <li><a href="">裁判所</a></li>
          <li><a href="">地方自治</a></li>
          <li><a href="">経済</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<%- include('../modules/layout/_footer.html') %> 
</main>

<script type="module" src="./menu.js"></script>

<%- include('../modules/meta/_foot.html') %>