<footer class="footer">
  <div class="footer-top">
    <div class="footer-top-info">
      <div class="footer-top-logo">
          <img 
          src="/images/logo.svg" 
          width="250"
          height="100"
          alt="Logo2"/>
      </div>
      <address>
        運営：個人事業主<br>
        XXX-XXXX<br>
        東京都XXXX区X丁目XーXX XXXビルXXX
      </address>
      <div class="footer-top-others">
        <div class="footer-top-sns">
          <a href="" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
  
      </div>
    </div>
    <div class="footer-top-nav">
      <a href="">ホーム</a>
      <a href="">コースについて</a>
      <a href="">ブログ</a>
      <a href="">企画サイト</a>
    </div>
    
  </div>

  <div class="footer-border"></div>

  <div class="footer-bottom">
    <div class="footer-bottom-credit">
      <small>&copy;Poco study.</small>
    </div>
    <div class="footer-bottom-nav">    
      <a href="">利用規約</a>
      <a href="/quiz/index">プライバシーポリシー</a>
      <a href="">特定商取引法に基づく表示</a>
    </div>
    

  </div>
</footer>
