<header class="header">
  
  <nav class="nav-left">
    <ul class="nav-left-list">
      <li class="nav-left-item">
        <a href="/" class="nav-left-logo">
          <img src="/images/P.png" alt="logo" width="55" height="55"/>
        </a>
      </li>
      <li class="nav-left-item">
        <a href="/">教科選択</a>
      </li>
    </ul>
  </nav>

  <nav class="nav-right">
    <ul class="nav-right-list">
      <li class="nav-right-item">
        <a href="/">ログイン</a>
      </li>
      <li class="nav-right-item">
        <a href="/">新規登録</a>
      </li>
      <li class="nav-right-item">
        <button type="button" class="trigger" id="js-nav-trigger">
          <span></span>
        </button>
      </li>
    </ul>
  </nav>

  <%- include('../modules/components/_navMenu.html') %>
    
</header>
