<header class="header">
  
  <nav class="nav-left">
    <ul class="nav-left-list">
      <li class="nav-left-item">
        <a href="/" class="nav-left-logo">
          <img src="/images/P.png" alt="logo" width="55" height="55"/>
        </a>
      </li>
      <li class="nav-left-item">
        <a href="/">教科選択</a>
      </li>
      <li class="nav-left-item">
        <a href="/">XXXXXXX</a>
      </li>
    </ul>
  </nav>

  <nav class="nav-right">
    <ul class="nav-right-list">
      <li class="nav-right-item">
        <a href="/">ログイン</a>
      </li>
      <li class="nav-right-item">
        <a href="/">新規登録</a>
      </li>
      <li class="nav-right-item">
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

    

</header>
