<div class="quiz <%= modifier %>">
  <div class="quiz-container">

    <div class="quiz-header">
      <a href="<%= href %>" class="quiz-header-back">←</a>
      <div class="quiz-header-title" id="js-quiz-title"></div>
      <div class="quiz-header-status">
        <div class="header-status-number" id="js-question-number"></div>
        <div class="header-status-progress">
          <div class="header-status-progress-bar" id="js-quiz-progress"></div>
        </div>
      </div>
    </div>

    <div class="quiz-question">
      <h2 class="quiz-question-content" id="js-question-content"></h2>
      <img class="quiz-question-img" id="js-question-img" alt="画像">
      <div class="quiz-question-modal" id="js-question-modal">
        <span>画像を押すと閉じます</span>
        <img class="quiz-question-modal-img" id="js-question-modal-img" alt="画像">
      </div>
    </div>

    <ul class="quiz-answer">
      <li><button class="js-quiz-button"></button></li>
      <li><button class="js-quiz-button"></button></li>
      <li><button class="js-quiz-button"></button></li>
      <li><button class="js-quiz-button"></button></li>
    </ul>

    <div class="quiz-hint-next">
      <button class="quiz-hintbutton" id="js-quiz-hint-button">
        <p>　ヒント</p>
        <img src="/images/light.png" alt="hint" width="33px" height="33px">
      </button>
      <button class="next-button" id="js-next-question">次の問題へ</button>
    </div>

    <div class="quiz-explanation">
      <div class="quiz-explanation-text is-hint" id="js-quiz-hint-text"></div>
      <div class="quiz-explanation-text is-explanation" id="js-quiz-explanation"></div>
    </div>

    <div class="click-event"></div>

    <div class="finish">
      <h1>結果！</h1>
      <div class="score-wrap">
        <span class="score" id="js-score"></span>
        <span class="ja">/</span>
        <span class="full" id="js-full">10</span>
      </div>
      <button class="redo-button" id="js-reload">リプレイ</button>
      <a href="<%= href %>" class="redo-button">戻る</a>
    </div>

  </div>
</div>
