$color-main: #444;
$color-core: #212732;
$color-base: #fff;
$color-gray: #686e79;

$color-lightgray: #eeeeee;

$color-pink: #ff7698;
$color-pink-light: #ffd7e0;
$color-pink-dark: #ff4f75;
$color-red: #FF6B6B;
$color-red-light: #FF8C8C;
$color-red-dark: #FF4C4C;
$color-orange: #fca84e;
$color-orange-light: #fff0e4;
$color-orange-dark: #FF8C00;
$color-yellow: #FFD43B;
$color-yellow-light: #FFE57F;
$color-yellow-dark: #FFC700;
$color-yellowgreen: #C0E57C; 
$color-yellowgreen-light: #f1ffde;
$color-yellowgreen-dark: #A8D600;
$color-green: #66BB6A;
$color-green-light: #A5D6A7;
$color-green-dark: #43A047;
$color-blue: #4DABF7;
$color-blue-light: #90CAF9;
$color-blue-dark: #007BFF;
$color-purple: #B197FC;
$color-purple-light: #D1C4E9;
$color-purple-dark: #7A4BFF;





$site-width: 1440px;
$z-index-max: 100;
$bp-lg: 1280px;
$bp-sm: 768px;